In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pydataset import data 
print('Success')

Success

# Tips

In [2]:
tips = data("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

* Create a column named tip_percentage. This should be the tip amount divided by the total bill.

In [3]:
tips['tip_percentage'] = tips['tip']/tips['total_bill'] * 100
tips.head()

   total_bill   tip     sex smoker  day    time  size  tip_percentage
1       16.99  1.01  Female     No  Sun  Dinner     2        5.944673
2       10.34  1.66    Male     No  Sun  Dinner     3       16.054159
3       21.01  3.50    Male     No  Sun  Dinner     3       16.658734
4       23.68  3.31    Male     No  Sun  Dinner     2       13.978041
5       24.59  3.61  Female     No  Sun  Dinner     4       14.680765

* Create a column named price_per_person. This should be the total bill divided by the party size.

In [4]:
tips['price_per_person'] = tips['total_bill']/tips['size']
tips.head()

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,5.944673,8.495000
2,10.34,1.66,Male,No,Sun,Dinner,3,16.054159,3.446667
3,21.01,3.50,Male,No,Sun,Dinner,3,16.658734,7.003333
4,23.68,3.31,Male,No,Sun,Dinner,2,13.978041,11.840000
5,24.59,3.61,Female,No,Sun,Dinner,4,14.680765,6.147500

* Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

* ***Answer*** - Tip Amount = Total Bill, Tip Percentage = Party Size

* Use all the other numeric features to predict tip amount. Use select k best and recursive feature elimination to select the top 2 features. What are they?

# K Best - Tips

In [5]:
tips = pd.get_dummies(tips)
tips.drop(columns=['sex_Female', 'smoker_No'], inplace = True)

In [8]:
from sklearn.model_selection import train_test_split

train_validate, test = train_test_split(tips, train_size=0.8, random_state=222)
train, validate = train_test_split(train_validate, train_size=0.75, random_state=222)

# Create the scaler and fit it to the training dataset.
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = MinMaxScaler(copy=True).fit(train)

# Scale the training data
train = pd.DataFrame(scaler.transform(train), columns=train.columns.values).set_index([train.index.values])

# Set aside the validate and test datasets for our "out of sample" data
validate = pd.DataFrame(scaler.transform(validate), columns=validate.columns.values).set_index([validate.index.values])
test = pd.DataFrame(scaler.transform(test), columns=test.columns.values).set_index([test.index.values])

X_train = train.drop(columns=['tip', 'tip_percentage'])
y_train = train[['tip']]

X_validate = validate.drop(columns='tip')
y_validate = validate[['tip']]

X_train.head(1)

,total_bill,size,price_per_person,sex_Male,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
234,0.170354,0.2,0.134554,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [9]:
from sklearn.feature_selection import SelectKBest, f_regression

# Create the f_selector object 
f_selector = SelectKBest(f_regression, k=2)

# fit the selector to the training data
f_selector.fit(X_train, y_train)

# Reduce the training data by transforming the X_train data set to the f_selector
X_reduced = f_selector.transform(X_train)

# Use get support to create a mask
f_support = f_selector.get_support()

f_feature = X_train.loc[:,f_support].columns.tolist()

print(str(len(f_feature)), 'selected features')
print(f_feature)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SelectKBest(k=2, score_func=<function f_regression at 0x7fa4d46590e0>)

# Recursive Feature - Tips

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

# Use linear regressions learning model object 
lm = LinearRegression()

# Create the recursive feature test using the LM and selecting the top two features
rfe = RFE(lm, 2)

# Create X_rfe object by fitting and transforming the X_train, y_train data to X_rfe 
X_rfe = rfe.fit_transform(X_train,y_train)  

# then fit the object to the learning model
lm.fit(X_rfe,y_train)

# Create the mask to get test the results against the training model in order to determine which features...
# are being used 

mask = rfe.support_

# Create the features into  the list
rfe_features = X_train.loc[:,mask].columns.tolist()

# Pring the a list of the features
print(str(len(rfe_features)), 'selected features')
print(rfe_features)

2 selected features
['total_bill', 'size']

/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

* Use all the other numeric features to predict tip percentage. Use select k best and recursive feature elimination to select the top 2 features. What are they?

# K Best - Tips_Percentage

In [28]:
# Drop the target and the tip which is too closely assoicated with the target to find the b

X_train = train.drop(columns=['tip_percentage', 'tip'])
y_train = train[['tip_percentage']]

X_validate = validate.drop(columns='tip_percentage')
y_validate = validate[['tip_percentage']]

# Create the f_selector object 
f_selector = SelectKBest(f_regression, k=2)

# fit the selector to the training data
f_selector.fit(X_train, y_train)

# Reduce the training data by transforming the X_train data set to the f_selector
X_reduced = f_selector.transform(X_train)

# Use get support to create a mask
f_support = f_selector.get_support()

f_feature = X_train.loc[:,f_support].columns.tolist()

print(str(len(f_feature)), 'selected features')
print(f_feature)

2 selected features
['total_bill', 'price_per_person']

/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Recursive Feature Elimination - Tips_Percentage

In [29]:
# Use linear regressions learning model object 
lm = LinearRegression()

# Create the recursive feature test using the LM and selecting the top two features
rfe = RFE(lm, 2)

# Create X_rfe object by fitting and transforming the X_train, y_train data to X_rfe 
X_rfe = rfe.fit_transform(X_train,y_train)  

# then fit the object to the learning model
lm.fit(X_rfe,y_train)

# Create the mask to get test the results against the training model in order to determine which features...
# are being used 

mask = rfe.support_

# Create the features into  the list
rfe_features = X_train.loc[:,mask].columns.tolist()

# Pring the a list of the features
print(str(len(rfe_features)), 'selected features')
print(rfe_features)

2 selected features
['size', 'price_per_person']

/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

* Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?

* ***Answer*** 
    * Using rfe conducts several model test and selects the best one through consensus while K best only looks at the features on a whole set and selects the best from it
    * Yes, but only down to a point

* Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

* Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

* Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).