In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import acquire
import wrangle
print('Success')

Success

# Follow Along Exercise

In [ ]:
df = acquire.get_mall_data()
df.info()
df.columns

In [ ]:
for col in ['age', 'annual_income', 'spending_score']:
    plt.hist(df[col])
    plt.title(col)
    plt.show()

In [ ]:
sns.boxplot(data = df[['age', 'annual_income', 'spending_score']] )

# Lesson Exercise

* Create a directory named regression-exercises within your codeup-data-science directory.
* Initialize this directory as a git repository.
* Ceate a README.md file that outlines the contents.
* Create a repository on github with the same name (regression-exercises) and link your local repo to the remote.
* Add, commit, and push the readme file.
* The filename for this exercise is wrangle.py.
* As always, add, commit, and push your work.

Throughout the exercises for Regression in Python lessons, you will use the following example scenario: As a customer analyst, I want to know who has spent the most money with us over their lifetime. I have monthly charges and tenure, so I think I will be able to use those two attributes as features to estimate total_charges. I need to do this within an average of $5.00 per customer.

The first step will be to acquire and prep the data. Do your work for this exercise in a file named wrangle.py.

* ~~Acquire customer_id, monthly_charges, tenure, and total_charges from telco_churn database for all customers with a 2 year contract.~~
* ~~Walk through the steps above using your new dataframe. You may handle the missing values however you feel is appropriate.~~
* End with a python file wrangle.py that contains the function, wrangle_telco(), that will acquire the data and return a dataframe cleaned with no missing values.

In [ ]:
df = acquire.telco_two_year_charges()
df.info()

In [ ]:
df['total_charges'] = pd.to_numeric(df['total_charges'],errors='coerce')
df.info()

In [ ]:
df.dropna(inplace = True) 
des = df.describe()
des

In [ ]:
for col in ['monthly_charges', 'tenure', 'total_charges']:
    plt.hist(df[col])
    plt.title(col)
    plt.show()

In [ ]:
sns.boxplot(data = df[['monthly_charges', 'tenure']])

In [ ]:
sns.boxplot(data = df[['total_charges']] )

In [ ]:
# Looks like there may be outliers in Tenure. Let's do a test

IQR_tenure = (des.iloc[6].iloc[1] - des.iloc[4].iloc[1])
Q3_tenure = des.iloc[6].iloc[1]
Q1_tenure = des.iloc[4].iloc[1]
little_outliers = Q1_tenure - (1.5 * IQR_tenure)
big_outliers = Q3_tenure + (1.5 * IQR_tenure)

df['outlier_tenure'] = (df['tenure'] > big_outliers) | (df['tenure'] < little_outliers)
print(f"Percent of tenure outliers is {round(df['outlier_tenure'].mean() * 100, 2)}")
print(f"We classified the outliers as any account with a tenure of less than {little_outliers}")
print(f"The number of enteries that meet the outlier threshold is {df.loc[df['outlier_tenure']  == True].shape[0]}")

In [ ]:
def wrangle_telco():
    df = acquire.telco_two_year_charges()
    df['total_charges'] = pd.to_numeric(df['total_charges'],errors='coerce')
    df.dropna(inplace = True) 
    df['outlier_tenure'] = df['tenure'] < 13.5
    return df

In [5]:
df = wrangle.wrangle_telco()
df

     customer_id  monthly_charges  tenure  total_charges  outlier_tenure
0     0013-SMEOE           109.70      71        7904.25           False
1     0014-BMAQU            84.65      63        5377.80           False
2     0016-QLJIS            90.45      65        5957.90           False
3     0017-DINOC            45.20      54        2460.55           False
4     0017-IUDMW           116.80      72        8456.75           False
...          ...              ...     ...            ...             ...
1690  9964-WBQDJ            24.40      71        1725.40           False
1691  9972-EWRJS            19.25      67        1372.90           False
1692  9975-GPKZU            19.75      46         856.50           False
1693  9993-LHIEB            67.85      67        4627.65           False
1694  9995-HOTOH            59.00      63        3707.60           False

[1685 rows x 5 columns]